@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,600&display=swap');

* {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: -0.05em;
  margin: 0;
  padding: 0;
}

.General__wrapper {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

section {
  position: relative;
  top: 65px;
}

.underline-on-hover {
  display: inline-block;
  padding-bottom: 0.25em;
  position: relative;
}

.underline-on-hover::before {
  content: '';
  position: absolute;
  height: 3px;
  right: 0;
  bottom: 0;
  width: 0;
  background-color: #EF5C42;
  transition: width 0.1s ease-out;
}

.underline-on-hover:hover::before {
  width: 100%;
  left: 0;
  right: auto;
}
