#hero {
  min-height: 90vh;
}

.Hero__wrapper {
  position: relative;
  top: 20vh;

  h1 {
    font-size: 5em;
    font-weight: 600;
  }
  
  h2 {
    font-size: 3em;
    margin-bottom: 0.5em;
  }

  .Hero__links {
    font-size: 2em;
    padding: 0;
    margin: 0;
    
    li {
      display: inline;
      margin-right: 20px;
    }

    a:focus, a:hover {
      background-color: rgba(207, 157, 144, 0.3);
      transition: all 0.3s ease;
      transform: scale(1.1,1.1);
    }

    a {
      border: 3px solid;
      padding: 15px 20px 10px 20px;
    }
  }

  @media (max-width: 800px) {
    h1 {
      font-size: 3em;
    }
    
    h2 {
      font-size: 2.3em;
    }

    .Hero__links {
      font-size: 1.8em;
    }
  }
}
