#hero {
  min-height: 80vh;
}

.Hero__wrapper {
  position: relative;
  top: 20vh;

  h1 {
    font-size: 5em;
    font-weight: 600;
  }
  
  h2 {
    font-size: 3em;
    margin-bottom: 0.5em;
  }

  .Hero__links {
    font-size: 2em;
    padding: 0;
    margin: 0;
    
    li {
      display: inline;
      margin-right: 20px;
    }

    a {
      text-decoration: none;
      border: 3px solid;
      border-radius: 10px;
      padding: 15px 20px 10px 20px;
    }
  }

  @media (max-width: 800px) {
    h1 {
      font-size: 3em;
    }
    
    h2 {
      font-size: 2.3em;
    }

    .Hero__links {
      font-size: 1.8em;
    }
  }
}
