.Navbar__container {
  position: fixed;
  z-index: 10;
  width: 100%;
  padding: 30px 0 10px 0;
}

.Navbar__wrapper {
  display: flex;
  justify-content: space-between;

  .Navbar__logo {
    flex: 2;
  }
  
  .Navbar__links {
    flex: 1;
    padding: 0;
    margin: 0;
    display: flex;

    a {
      text-decoration: none;
    }
  
    li {
      flex: 1;
      list-style-type: none;
    }
  
    button {
      width: 26px;
      background-color: transparent;
      position: relative;
      top: -5px;
    }
  }
}
