.Navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navbar__links {
  li {
    display: inline;
    padding-right: 10px;
  }

  button {
    width: 40px;
  }
}
