.Projects__wrapper {
  position: relative;
}

.Projects__accentBg {
  position: relative;
  height: 300px;

  h3 {
    font-size: 1.5em;
    position: absolute;
    top: 60%;
    padding: 0;
    margin: 0;
    text-align: center;
  }
}
  
.Projects__contentWrapper {
  position: relative;
  top: -80px;
  z-index: 3;

  .Projects__tile {
    height: 180px;
    margin: 10px;
  }
}
