.Projects__wrapper {
  position: relative;
}

.Projects__accentBg {
  position: relative;
  height: 300px;
}
  
.Projects__contentWrapper {
  position: relative;
  top: -150px;
  z-index: 3;

  h3 {
    font-size: 1.8em;
    margin: 0 auto;
  }

  .Projects__tile {
    height: 180px;
    margin: 10px;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .Projects__infoWrapper {
    position: relative;
  }

  .Projects__info {
    position: absolute;
    left: -40px;
    top: 20px;
  }

  @media (max-width: 800px) {
    .Projects__info {
      position: relative;
      top: 0;
      left: 0;
      margin: -5px 0 30px 0;
    }
  }
}
