.Projects__wrapper {
  position: relative;
}

.Projects__accentBg {
  position: relative;
  height: 300px;
}
  
.Projects__contentWrapper {
  position: relative;
  top: -150px;
  z-index: 3;

  h3 {
    font-size: 1.8em;
    margin: 0 auto;
  }

  .Projects__tile {
    height: 180px;
    margin: 10px;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .Projects__tile:hover,
  .Projects__tile:focus {
    transition: all 0.3s ease-in-out;
    transform: scale(1.01,1.01);
  }

  .Projects__info {
    font-size: 0.8em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    text-align: center;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.25s;
  }

  .Projects__info--blur {
    backdrop-filter: blur(5px);
  }

  .Projects__info >* {
    transform: translateY(10px);
    transition: transform 0.25s;
  }

  .Projects__info:hover {
    opacity: 1;
  }

  .Projects__info:hover >* {
    transform: translateY(0px);
  }
}
