@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

/* base */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', Arial, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

body {
  font-size: 100%;
  color: #3b3a1e;
}

a {
  text-decoration: none;
  border-bottom: 1px dotted;
  color: #006e5e;
}

a:hover {
  color: #3b3a1e;
  transition: all 0.3s ease;
}

.content-wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 50px;
}

/* sticky header */

header {
  background-color: #006e5e;
  width: 100%;
  position: fixed;
  padding: 25px 0;
  top: 0;
  z-index: 1;
}

#header-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#logo {
  color: #f3f0e8;
  font-size: 90%;
  text-transform: uppercase;
  letter-spacing: 0.5pt;
  text-decoration: none;
}

#toggle-view {
  color: #006e5e;
}

/* content  - general */

h1 {
  color: #de4300;
  font-size: 600%;
  font-weight: 800;
  line-height: 70%;
  margin: 20px 0;
}

h2 {
  margin: 20px 0;
  font-weight: 400;
  line-height: 90%
}

h3 {
  margin-bottom: 50px;
  text-align: center;
}

h3 span {
  background-color: #de4300;
  padding: 5px 30px;
  color: #f3f0e8;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 70%;
  letter-spacing: 0.1em;
}

section {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 100px 0;
  min-height: 10vh;
}

.content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 900px;
}

.info {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-30%, -50%);
  max-width: 600px;
  padding: 25px;
}

.info ul,
li {
  max-width: 600px;
}

/* content - landing */

#landing {
  top: 68px;
  background-color: #e5a873;
  min-height: 80vh;
}

#icon,
#icon img {
  display: inline-block;
  padding: 0;
  margin: 0;
  max-width: 80px;
  border-radius: 50%
}

#about {
  margin: 0 auto;
  display: inline-block;
  text-align: left;
  max-width: 500px;
}

#exit {
  margin: 40px 0;
}

.button {
  background-color: #006e5e;
  border: 0;
  padding: 13px 40px;
  font-size: 80%;
  color: #fff;
}

.button:hover {
  background-color: #3b3a1e;
  transition: all 0.3s ease;
}

/* content - now */

#now {
  background-color: #f3f0e8;
}

#blurb {
  text-align: center;
  font-size: 80%;
  margin: 30px auto;
}

/* content - next */

#next {
  background-color: #9dd6d5;
}

/* footer */

#footer {
  background-color: #00584b;
  color: #f3f0e8;
  font-size: 80%;
  padding: 30px;
  text-align: center;
}

#footer a,
#footer a:hover {
  color: #f3f0e8;
}
